@model MVCApp.Models.ViewModels.LoginModel

@{
    ViewBag.Title = "Login";
}

<style>

    #left {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: x-large;
        font-family: cursive;
        color: deepskyblue;
    }

    #formOfRegistration h2 {
        text-align: center;
    }

    #forma {
        visibility: hidden !important;
    }

    .register, .signIn {
        color: #444;
        border: 1px solid #CCC;
        cursor: pointer;
        vertical-align: middle;
        padding: 5px;
        text-align: center;
    }

    #mainFrameDiv {
        border-style: solid;
        border-width: 1px;
    }


    .register:active, .signIn:active {
        color: red;
    }

    .register:hover, .signIn:hover {
        border-bottom-color: coral;
        border-bottom-width: 3px;
    }

    .selected-btn {
        background: deepskyblue;
        color: yellow;
        border-bottom-color: coral;
        border-bottom-width: 3px;
    }

    #submitButton {
        text-align: center;
        margin: 3%;
        width: 30%;
    }

    .form-group {
        margin: 3%;
    }

    .formalert {
        text-align: center;
    }


    #formOfRegistration {
        height: 800px;
    }

    #goForwardButton {
        margin: 3%;
        width: 30%;
        visibility: hidden;
    }
</style>


<div id="content">

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="navbar-btn">
                <span></span>
                <span></span>
                <span></span>
            </button>
            <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-align-justify"></i>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="list-inline nav navbar-nav ml-auto">
                    @Html.Partial("_PartialLoginView")
                </ul>
            </div>
        </div>
    </nav>

    <div id='map' data-counter="0"></div>

    <div class="container" id="formOfRegistration">
        <h2>Fill the form please:</h2>

        <div class="row" id="mainFrameDiv" style="background-color:honeydew;">
            <div id="left" class="col-sm-6">
                <span><sup>&copy;</sup>Tourist app helps to enjoy your travel or business trip.</span>
            </div>
            <div id="right" class="col-sm-6">

                @using (Html.BeginForm())
                {
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group registration-form">
                    @Html.DisplayNameFor(m => m.Email)
                    @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                </div>

                    <div class="form-group registration-form">
                        @Html.DisplayNameFor(m => m.Password)
                        @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                    </div>

                    <div class="form-group ">
                        <input type="submit" value="Log me Pls!" class="btn btn-success" />
                    </div>

                    <div class="form-group ">
                        <input type="reset" value="Clear Form" class="btn btn-primary" />
                    </div>
                }
            </div>
        </div>
    </div>
</div>









