@model MVCApp.Models.ViewModels.LoginModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div>
        <h4>
            Registration Form
        </h4>
        @Html.ValidationSummary()
        <div>
            @Html.DisplayNameFor(m => m.Email)
            @Html.EditorFor(m => m.Email)
        </div>

        <div>
            @Html.DisplayNameFor(m => m.Password)
            @Html.EditorFor(m => m.Password)
        </div>
               

        <div>
            <input type="submit" value="Log me Pls!" />
        </div>

        <div>
            <input type="reset" value="Clear Form" />
        </div>

    </div>
}

