@model MVCApp.Models.ViewModels.LoginModel

@{
    ViewBag.Title = "Login";
}

<style>

    #left {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: x-large;
        font-family: cursive;
        color: deepskyblue;
    }

    #formOfRegistration h2 {
        text-align: center;
    }

    #forma {
        visibility: hidden !important;
    }

    .register, .signIn {
        color: #444;
        border: 1px solid #CCC;
        cursor: pointer;
        vertical-align: middle;
        padding: 5px;
        text-align: center;
    }

    #mainFrameDiv {
        border-style: solid;
        border-width: 1px;
    }


    .register:active, .signIn:active {
        color: red;
    }

    .register:hover, .signIn:hover {
        border-bottom-color: coral;
        border-bottom-width: 3px;
    }

    .selected-btn {
        background: deepskyblue;
        color: yellow;
        border-bottom-color: coral;
        border-bottom-width: 3px;
    }

    #submitButton {
        text-align: center;
        margin: 3%;
        width: 30%;
    }

    .form-group {
        margin: 3%;
    }

    .formalert {
        text-align: center;
    }


    #formOfRegistration {
        height: 800px;
    }

    #goForwardButton {
        margin: 3%;
        width: 30%;
        visibility: hidden;
    }
</style>


<div class="container" id="formOfRegistration">
    <h2>Fill the form please:</h2>

    <div class="row" id="mainFrameDiv" style="background-color:honeydew;">
        <div id="left" class="col-sm-6">
            <span><sup>&copy;</sup>Tourist app helps to enjoy your travel or business trip.</span>
        </div>
        <div id="right" class="col-sm-6">
           
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
              
                <div class="form-group registration-form">
                    @Html.DisplayNameFor(m => m.Email)
                    @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="form-group registration-form">
                    @Html.DisplayNameFor(m => m.Password)
                    @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="form-group ">
                    <input type="submit" value="Log me Pls!" class="btn btn-success" />
                </div>

                <div class="form-group ">
                    <input type="reset" value="Clear Form" class="btn btn-primary" />
                </div>
            }
        </div>
    </div>
</div>


