
@using MVCApp.Models.ViewModels
@model RegisterModel
@{
    ViewBag.Title = "Register";
}



<style>


    .register, .signIn {
        color: #444;
        border: 1px solid #CCC;
        cursor: pointer;
        vertical-align: middle;
        padding: 5px;
        text-align: center;
    }

    #mainFrameDiv {
        border-style: solid;
        border-width: 1px;
    }


    .register:active, .signIn:active {
        color: red;
    }

    .register:hover, .signIn:hover {
        border-bottom-color: coral;
        border-bottom-width: 3px;
    }

    .selected-btn {
        background: deepskyblue;
        color: yellow;
        border-bottom-color: coral;
        border-bottom-width: 3px;
    }

    #submitButton {
        text-align: center;
        margin: 3%;
        width: 30%;
    }

    .form-group {
        margin: 3%;
    }

    .formalert {
        text-align: center;
    }


    #formOfRegistration {
        height: 800px;
    }

    #goForwardButton {
        margin: 3%;
        width: 30%;
        visibility: hidden;
    }
</style>



<div class="container" id="formOfRegistration">
    <h2>Fill the form please:</h2>

    <div class="row" id="mainFrameDiv" style="background-color:honeydew;">
        <div id="left" class="col-sm-6">
            <span><sup>&copy;</sup>Tourist app helps to enjoy your travel or business trip.</span>
        </div>
        <div id="right" class="col-sm-6">


            @using (Html.BeginForm())
            {


                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })                


                <div class="form-group registration-form">
                    @Html.DisplayNameFor(m => m.Email)
                    @Html.EditorFor(m => m.Email, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="form-group registration-form">
                    @Html.DisplayNameFor(m => m.Password)
                    @Html.EditorFor(m => m.Password, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="form-group registration-form">
                    @Html.DisplayNameFor(m => m.PasswordConfirm)
                    @Html.EditorFor(m => m.PasswordConfirm, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="form-group registration-form">
                    @Html.DisplayNameFor(m => m.SkinColor)
                    @Html.EditorFor(m => m.SkinColor, new { htmlAttributes = new { @class = "form-control" } })
                </div>

                <div class="form-group ">
                    <input type="submit" value="Reg me Pls!" class="btn btn-success" />
                </div>

                <div class="form-group ">
                    <input type="reset" value="Clear Form" class="btn btn-primary" />
                </div>

            }

        </div>
    </div>
</div>




@*<h2>Register</h2>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div>
            <h4>
                Registration Form
            </h4>
            @Html.ValidationSummary()
            <div>
                @Html.DisplayNameFor(m => m.Email)
                @Html.EditorFor(m => m.Email)
            </div>

            <div>
                @Html.DisplayNameFor(m => m.Password)
                @Html.EditorFor(m => m.Password)
            </div>

            <div>
                @Html.DisplayNameFor(m => m.PasswordConfirm)
                @Html.EditorFor(m => m.PasswordConfirm)
            </div>


            <div>
                @Html.DisplayNameFor(m => m.SkinColor)
                @Html.EditorFor(m => m.SkinColor)
            </div>

            <div>
                <input type="submit" value="Reg me Pls!" />
            </div>

            <div>
                <input type="reset" value="Clear Form" />
            </div>

        </div>
    }*@

