@{
    ViewBag.Title = "Home Page";

    var options = new AjaxOptions()
    {
        Url = Url.Action("OrderedPlaces"),
        UpdateTargetId = "tablebody"

    };
}






<h2>IconMap</h2>

@using (Ajax.BeginForm(options))
{
    <table>
        <thead cellspacing="5">
            <tr>
                <th> Id </th>
                <th> Name </th>
                <th> LinkRef </th>
                <th> LinkText </th>
                <th>  AboutPlace</th>
                <th> OpenTime </th>
                <th> CloseTime </th>
                <th> Rate </th>
                <th> Icon</th>
                <th> Longitude </th>
                <th> Latitude </th>
            </tr>
        </thead>
        <tbody id="tablebody">
            @Html.Action("OrderedPlaces", new { id = Model })
        </tbody>
    </table>

    <p>
        @Html.DropDownList("id",
        new SelectList(new[] {"all", "theatre", "museum", "lodging" },
        (Model ?? "all")))

        @Html.DropDownList("OpenTime",
       new SelectList(new[] {"0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23"},
       (Model ?? "8")))

        @Html.DropDownList("CloseTime",
      new SelectList(new[] { "0", "1", "2", "3", "4", "5", "6", "7", "8", "9", "10", "11", "12", "13", "14", "15", "16", "17", "18", "19", "20", "21", "22", "23" },
      (Model ?? "18")))

        @Html.DropDownList("Rate",
     new SelectList(new[] { "0", "1", "2", "3", "4", "5"},
     (Model ?? "0")))

    <p>
        <label for="amount">Time range:</label>
        <input type="text" id="amount" name="slider" readonly style="border:0; color:#f6931f; font-weight:bold;">
    </p>

    <div id="slider-range"></div>

    <input type="submit" value="Get ordered places" />

    </p>


    @*<p>
            <label for="amount">Rate:</label>
            <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
        </p>
        <div id="slider-range-max"></div>*@

    <p>
        <label for="amount">Time range:</label>
        <input type="text" id="amount" readonly style="border:0; color:#f6931f; font-weight:bold;">
    </p>

    <div id="slider-range"></div>











    @section scripts
    {
        <script src="~/Scripts/jquery.unobtrusive-ajax.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                $('#sidebarCollapse').on('click', function () {
                    $('#sidebar').toggleClass('active');
                    $(this).toggleClass('active');
                });
            });
        </script>
    }


}


